@import '../../scss/index';

.navbar {
  background-color: $app-secondary-color;
  padding: 0;

  .navbar-brand {
    font-size: 50px;
    font-weight: bold;
    padding: 0 20px 0 20px;
    color: $app-primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    &:hover {
      color: $app-primary-color;
    }

    a {
      text-decoration: none;
    }
  }

  .nav-tabs {
    list-style: none;
    background-color: $app-secondary-color;
    border-bottom: none;

    li {
      border: none;
      border-radius: 0;
      min-width: 120px;
      text-align: center;
      background-color: $app-secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover:not(.active) {
        background-color: darken($app-secondary-color, 5%);
      }

      a {
        color: $app-background-color;
        font-size: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          margin-right: 5px;
        }
      }

      .nav-link {
        border: none;
        border-radius: 0;

        &.active {
          background-color: $app-background-color;
          color: $app-secondary-color;
          border: none;
          font-weight: bold;
        }
      }
    }
  }
}
