@import '../../scss/index';

.nav-tabs {
  list-style: none;
  background-color: $app-secondary-color;
  border-bottom: none;

  li {
    border: none;
    border-radius: 0;
    min-width: 120px;
    text-align: center;
    background-color: $app-secondary-color;

    &:hover:not(.active) {
      background-color: darken($app-secondary-color, 5%);
    }

    a {
      color: $app-background-color;
      font-size: 20px;
    }

    .nav-link {
      border: none;
      border-radius: 0;
      margin: 0;

      &.active {
        background-color: $app-background-color;
        color: $app-secondary-color;
        border: none;
        font-weight: bold;
      }
    }
  }
}
