// You can add global styles to this file, and also import other style files

// Importing Bootstrap SCSS file.
@import '~bootstrap/scss/bootstrap';

@import './scss/index';

html, body {
  background-color: $app-background-color;
  color: white;
  height: 100%;
  width: 100%;
}

div, p, ul, li {
  background-color: $app-background-color;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab {
  position: fixed;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: $app-primary-color;
  box-shadow: 5px 8px 24px darken($app-background-color, 5%);

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $app-background-color;
  }

  &:hover {
    background-color: lighten($app-primary-color, 5%);
  }
}

.meals {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.modify {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  background-color: lighten($app-background-color, 2%);

  i {
    padding-left: 10px;
  }

  .fa-trash {
    color: $app-delete-red;

    &:hover {
      color: lighten($app-delete-red, 10%);
    }
  }

  .fa-arrow-rotate-right {
    color: $app-refresh-blue;

    &:hover {
      color: lighten($app-refresh-blue, 10%);
    }
  }
}

.meal {
  display: inline-block;
  padding: 10px;
  list-style: none;
  background-color: lighten($app-background-color, 2%);
  min-width: 300px;
  width: 100%;
  height: fit-content;

  .meal-header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: lighten($app-background-color, 2%);
    padding-bottom: 5px;

    .modify {
      .fa-trash {
        color: $app-delete-red;

        &:hover {
          color: lighten($app-delete-red, 10%);
        }
      }

      .fa-arrow-rotate-right {
        color: $app-refresh-blue;

        &:hover {
          color: lighten($app-refresh-blue, 10%);
        }
      }
    }

    h2 {
      display: inline-block;
      margin: 0;
    }

    i {
      color: $app-secondary-color;

      &:hover {
        color: lighten($app-secondary-color, 10%);
      }
    }
  }

  .list-group {
    background-color: lighten($app-background-color, 2%);

    .list-group-item {
      display: flex;
      align-items: center;
      background-color: lighten($app-background-color, 2%);
      color: white;

      a {
        height: 100%;
        width: 100%;
        color: white;
        text-decoration: none;
      }

      .modify {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background-color: lighten($app-background-color, 5%);

        .modify {
          visibility: visible;
        }
      }

      &.add {
        text-align: center;
        background-color: $app-primary-color;

        &:hover {
          background-color: lighten($app-primary-color, 5%);
        }

        i {
          margin-left: 5px;
        }
      }
    }
  }
}

// Slide-toggle button
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $app-secondary-color;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $app-secondary-color;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      //left: 4px;
      //bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    // Rounded sliders
    &.round {
      border-radius: 20px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}

