
<div class="meals">
  <div class="meal">
    <h2>Breakfast</h2>
    <ul class="list-group">
      <li *ngFor="let breakfast of breakfasts; let i = index;"
          class="list-group-item">
        {{breakfast.name}}
        <span class="modify">
          <i class="fa-solid fa-arrow-rotate-right fa-lg"
             (click)="replaceBreakfast(i)"></i>
          <i class="fa-solid fa-trash fa-lg"
             (click)="deleteBreakfast(i)"></i>
        </span>
      </li>
      <li *ngIf="breakfasts.length < 7"
          class="list-group-item add"
          (click)="addBreakfast()">
        Add Item <i class="fas fa-plus fa-lg"></i>
      </li>
    </ul>
  </div>
  <div class="meal">
    <h2>Lunch</h2>
    <ul class="list-group">
      <li *ngFor="let lunch of lunches; let i = index;"
          class="list-group-item recipe-item">
        {{lunch.name}}
        <span class="modify">
          <i class="fa-solid fa-arrow-rotate-right fa-lg"
             (click)="replaceLunch(i)"></i>
          <i class="fa-solid fa-trash fa-lg"
             (click)="deleteLunch(i)"></i>
        </span>
      </li>
      <li *ngIf="lunches.length < 7"
          class="list-group-item add"
          (click)="addLunch()">
        Add Item <i class="fas fa-plus fa-lg"></i>
      </li>
    </ul>
  </div>
  <div class="meal">
    <h2>Dinner</h2>
    <ul class="list-group">
      <li *ngFor="let dinner of dinners; let i = index;"
          class="list-group-item recipe-item">
        {{dinner.name}}
        <span class="modify">
          <i class="fa-solid fa-arrow-rotate-right fa-lg"
             (click)="replaceDinner(i)"></i>
          <i class="fa-solid fa-trash fa-lg"
             (click)="deleteDinner(i)"></i>
        </span>
      </li>
      <li *ngIf="dinners.length < 7"
          class="list-group-item add"
          (click)="addDinner()">
        Add Item <i class="fas fa-plus fa-lg"></i>
      </li>
    </ul>
  </div>
</div>

<div (click)="onClickGenerate()"
     class="fab"
     title="Generate Meals">
  <i class="fas fa-plus fa-lg"></i>
</div>
