
<div class="meals">
  <app-plan-meal name="Breakfast"
                 [recipes]="breakfasts"
                 (generateRecipesEvent)="onClickGenerateBreakfasts()"
                 (deleteAllRecipesEvent)="onClickDeleteAllBreakfasts()"
                 (deleteRecipeEvent)="deleteBreakfast($event)"
                 (replaceRecipeEvent)="replaceBreakfast($event)"
                 (addRecipeEvent)="addBreakfast()">
  </app-plan-meal>
  <app-plan-meal name="Lunch"
                 [recipes]="lunches"
                 (generateRecipesEvent)="onClickGenerateLunches()"
                 (deleteAllRecipesEvent)="onClickDeleteAllLunches()"
                 (deleteRecipeEvent)="deleteLunch($event)"
                 (replaceRecipeEvent)="replaceLunch($event)"
                 (addRecipeEvent)="addLunch()">
  </app-plan-meal>
  <app-plan-meal name="Dinner"
                 [recipes]="dinners"
                 (generateRecipesEvent)="onClickGenerateDinners()"
                 (deleteAllRecipesEvent)="onClickDeleteAllDinners()"
                 (deleteRecipeEvent)="deleteDinner($event)"
                 (replaceRecipeEvent)="replaceDinner($event)"
                 (addRecipeEvent)="addDinner()">
  </app-plan-meal>
</div>
<div (click)="onClickGenerate()"
     class="fab"
     title="Generate Meals">
  <i class="fas fa-plus fa-lg"></i>
</div>
