<div class="meals">
  <app-plan-meal name="Breakfast"
                 [recipes]="planBreakfasts"
                 [disableToggle]="disableBreakfastToggle"
                 [allowDuplicates]="allowDuplicateBreakfasts"
                 (toggleAllowDuplicateRecipesEvent)="toggleDuplicateBreakfasts()"
                 (generateRecipesEvent)="onClickGenerateBreakfasts()"
                 (deleteAllRecipesEvent)="onClickDeleteAllBreakfasts()"
                 (deleteRecipeEvent)="deleteBreakfast($event)"
                 (replaceRecipeEvent)="replaceBreakfast($event)"
                 (addRecipeEvent)="addBreakfast()">
  </app-plan-meal>
  <app-plan-meal name="Lunch"
                 [recipes]="planLunches"
                 [disableToggle]="disableLunchToggle"
                 [allowDuplicates]="allowDuplicateLunches"
                 (toggleAllowDuplicateRecipesEvent)="toggleDuplicateLunches()"
                 (generateRecipesEvent)="onClickGenerateLunches()"
                 (deleteAllRecipesEvent)="onClickDeleteAllLunches()"
                 (deleteRecipeEvent)="deleteLunch($event)"
                 (replaceRecipeEvent)="replaceLunch($event)"
                 (addRecipeEvent)="addLunch()">
  </app-plan-meal>
  <app-plan-meal name="Dinner"
                 [recipes]="planDinners"
                 [disableToggle]="disableDinnerToggle"
                 [allowDuplicates]="allowDuplicateDinners"
                 (toggleAllowDuplicateRecipesEvent)="toggleDuplicateDinners()"
                 (generateRecipesEvent)="onClickGenerateDinners()"
                 (deleteAllRecipesEvent)="onClickDeleteAllDinners()"
                 (deleteRecipeEvent)="deleteDinner($event)"
                 (replaceRecipeEvent)="replaceDinner($event)"
                 (addRecipeEvent)="addDinner()">
  </app-plan-meal>
</div>
<div *ngIf="planBreakfasts.length > 0 || planLunches.length > 0 || planDinners.length > 0"
     id="generate-grocery-list-fab"
     (click)="onClickGenerateGroceryList()"
     class="fab"
     title="Copy all ingredients to clipboard">
  <i class="fas fa-copy fa-lg"></i>
</div>
<div id="generate-meals-fab"
     (click)="onClickGenerateMeals()"
     class="fab"
     title="Generate all meals">
  <i class="fas fa-plus fa-lg"></i>
</div>
